*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 5;
}
.navgt {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    /* margin: 20px; */
    /* margin-left: 250px;
    margin-right: 250px; */
    justify-content: center;
}
link {
    text-decoration: none;
    color: black;
}
.nav-links {
    width: 650px;
}
ul li {
    list-style-type: none;
    margin: 20px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    font-weight: 500;
}
ul {
    display: flex;
}
#btn {
     color: white;
    background-color: black;
    border-radius: 20px;
    padding:5px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 500;
}
.wrapper {
    padding-top: 150px;
    background-color: white;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    /* margin-left: 250px;
    margin-right: 250px;  */
}
.holder {
    /* margin-top: 200px; */
    width: 510px;
    margin: 40px;
}
.wrapper h1{
    font-size: 45px;
}
.wrapper span {
    font-weight: 800;
    font-size: 60px;
}
#para{
    font-style: italic;
    font-size: 28px;
    font-weight: 400;
}
#para1 {
    font-size: 20px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 20px;
}
#para2 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 40px;
}
.store {
    border:1px solid white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px wheat;
    width: 250px;
}
.play {
    border:1px solid white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px wheat;
    width: 250px;
    position: relative;
    left: 40px;
}
.mage {
    display: inline-block;
}
#dolted {
    background-image: url('./images/grid.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 330px;
    position: relative;
    left: 0px;
    bottom: 120px;
}
.gif {
    width: 250px;
    border: 3px solid black;
    border-radius: 20px;
    position: relative;
    left: 250px;
    bottom: 90px;
    box-shadow: 1px 1px 10px darkcyan, 0 0 20px whitesmoke, 0 0 2px whitesmoke;
}
.wrapper-main {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px;
}
.boxers {
    width: 70%;
    text-align: center;
}
.boxers h1 {
    text-align: center;
    font-size: 35px;
}
.boxers p {
    font-size: 20px;
}
.boxs {
    background-color:peachpuff;
    width: 300px;
    height: 250px;
    margin: 13px;
    border-radius: 10px;
    position: relative;
    left: 60px;
}
#wrapper-main-box {
    background-image: url("./images/circle_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}
#btn-box {
    border: 2px solid black;
    border-radius: 50px;
}
.burger {
    display: none;
}
.emma {
    width: 500px;
    height: 500px;
    background-color: aquamarine;
}
@media only screen and (max-width: 768px){
    *{
        padding: 0;
        margin: 0;
    }
    .header {
        background-color: white;
        width: 100%;
        position: fixed;
        z-index: 5;
    }
    .navgt {
        display: flex;
        justify-content: space-between;
    }
    .burger {
        width: 80px;
        position: relative;
        cursor: pointer;
        display: block;
    }
    ul {
        display: none;
    }
    .gif {
        position: relative;
        left: 0px;
        width: 250px;
        height: 550px;
    }
    #dolted {
        display: flex;
        justify-content: center;
        align-content: center;
        background-image: none;
    }
    .wrapper {
        padding-top: 300px;
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .holder {
        /* margin-top: 500px; */
        text-align: justify;
        font-size: 10px;
        width: 510px;
    }
    .wrapper h1 {
        font-size: 28px;
        text-align: center;
    }
    .mage {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .play {
        position: relative;
        left: 0px;
        margin: 20px;
        width: 400px;
    }
    .store {
        width: 400px
    }
    .boxers {
        text-align: center;
        width: 90%;
    }
    #wrapper-main-box {
        background-image: url("./images/circle_bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
    }
    .boxs {
        position: relative;
        left: 20px;
    }
    
   
}